@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* Used for ui elements background. Use appropriate proportions for each one */
    --primary-color: #141414;
    --secondary-color: #131315;
    --terthiary-color: #181818;
    --background-blurry: #313131d2;

    --card-color: rgb(115, 52, 179);

    --under-color: #0e0e0e;
    --top-color: #24242469;

    --background-blur-normal: 10px;
    --background-blur-heavy: 25px;

    /* Used for shadows, under ui elements */
    --shadow-color-heavy: #0a0a0aad;
    --shadow-color-medium: #00000080;
    --shadow-color-light: #00000042;
  
    /* Used to refine a page colors, to give a personal touch */
    --accent-color-primary: #252525;
    --accent-color-secondary: #2e2e2e;

    /* Outline types */
    --outline-inactive: #4e4e4e;
    --outline-active: #767676;
    --border-color: #363331;

    /* Used to refine a page colors, to give a personal touch */
    --font-primary-color: #e5e2df;
    --font-secondary-color: #9d9d9d;
    --font-light-color: #a0a0a0;
    --font-link-color: #d9e5e4;
    --font-error-color: #c54e4e;
    --font-warning-color: #926939;
    --font-ok-color: #006d18;
    --font-info-color: rgb(32, 83, 128);

    /* Different elements may need a border, use with caution, might not look good everywhere */
    --border-width-primary: 6px;
    --border-width-secondary: 2px;
  
    --border-radius-light: 6px;
    --border-radius-medium: 8px;
    --border-radius-medium-heavy: 12px;
    --border-radius-heavy: 16px;
  }

  [data-theme="dark"] {
    /* Used for ui elements background. Use appropriate proportions for each one */
    --primary-color: #f3f3f3;
    --secondary-color: rgb(219, 219, 219);
    --terthiary-color: #ebebeb;
    --background-blurry: #ff9d9d80;

    --card-color: var(--accent-color-secondary);

    /* Used for shadows, under ui elements */
    --shadow-color-heavy: #0a0a0ace;
    --shadow-color-medium: #0000004d;
    --shadow-color-light: #00000023;

    --shadow-heavy: var(--shadow-color-heavy) 0px 0px 10px;

    /* Used to refine a page colors, to give a personal touch */
    --accent-color-primary: #ffbdab;
    --accent-color-secondary: #ffab96;

    /* Outline types */
    --outline-inactive: #767676;
    --outline-active: #767676;

    /* Font colors, different types of text need different colors */
    --font-primary-color: #111111;
    --font-secondary-color: #636363;
    --font-light-color: #5f5f5f;
    --font-link-color: #3d3d3d;
    --font-error-color: #ff6f6f;
    --font-warning-color: #e6b175;
    --font-ok-color: #5c9c6a;
    --font-info-color: rgb(151, 151, 255);

    /* Different elements may need a border, use with caution, might not look good everywhere */
    --border-width-primary: 6px;
    --border-width-secondary: 2px;
  
    --border-radius-light: 6px;
    --border-radius-medium: 8px;
    --border-radius-heavy: 16px;
  }

  * {
    /* transition-duration: 0.25s; */
    font-family: "Poppins", sans-serif !important;
    font-weight: normal;
    font-style: normal;
    color: var(--font-primary-color);
    text-decoration: none;
  }
  
  body {
    margin: auto;
    background-color: var(--primary-color);
  }

  .deco {
    font-family: 'Deco Diva JNL';
  }

  @keyframes show {
    0% {
      transform: translateY(10px);
      opacity: 0;
    }
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
  }

	/* .root {
		padding: 2rem;
		padding-left: 12rem;
		padding-right: 12rem;
	} */

  body{
    padding: 0px;
    margin: 0px;
    background-color: var(--primary-color);
  }

  a, .link {
    color: var(--font-link-color);
    min-width: fit-content;
  }

  .icon {
    width: 1.5rem !important;
    height: 1.5rem !important;
    font-size: 1.5rem !important;
  }
  .top {
    display: flex;
    align-items: center;
    justify-self: center;
    flex-direction: row;
    gap: 1rem;
  }

  .container {
    height: 14rem;
    width: 24rem;
    padding: 1.5rem;
    background-color: var(--secondary-color);
    bnporder-radius: var(--border-radius-heavy);
    /* box-shadow: var(--shadow-color-medium) 0px 0px 10px; */
  }

  .themer {
    cursor: pointer;
  }

  .secondary {
    color: var(--font-secondary-color);
  }

  button, .button {
    cursor: pointer;
    border: none;
    color: var(--font-primary-color);
    border-radius: var(--border-radius-light);
    padding: 0.6rem;
    outline: 2px solid var(--outline-active);
    background-color: var(--background-blurry);
    max-width: 5rem;
}

  button:hover, .button:hover {
    box-shadow: var(--shadow-color-medium) 0px 0px 5px;
    background-color: var(--accent-color-secondary);
  }

  button:disabled {
    opacity: 0.4;
    cursor: default;
  }

  button:disabled:hover {
    box-shadow: var(--shadow-color-light) 0px 0px 10px;
    background-color: var(--accent-color-primary);
  }

  .roundButton{
    min-width: 3rem;
    min-height: 3rem;
    border-radius: 50% !important;
  }

  #theme-select {
    display: flex;
    font-size: 1.5rem;
  }

  /* .outlineButton{
    border-radius: var(--border-radius-heavy);
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid var(--outline-button);
  } */


  .custom-checkbox {
    width: 1rem;
    height: 1rem;
    background-color: var(--accent-color-secondary);
    border-radius: var(--border-radius-light);
    display: inline-block;
    position: relative;
    cursor: pointer;
  }

  .custom-checkbox input[type="checkbox"] {
      display: none; /* Hide the default checkbox */
  }

  .custom-checkbox input[type="checkbox"]:checked + .checkmark {
      background-color: var(--accent-color-secondary);
  }

  .custom-checkbox .checkmark {
      width: 60%;
      height: 60%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: transparent;
      border-radius: var(--border-radius-light);
      transition: background-color 0.3s ease;
  }

  .custom-checkbox input[type="checkbox"]:checked + .checkmark::after {
      content: "";
      position: absolute;
      left: 5px;
      top: 0px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
  }

  .page {
    overflow: scroll;
    height: 100% !important;
    max-width: 2000px;
    background-color: var(--terthiary-color);
    border-radius: var(--border-radius-heavy);
    box-shadow: var(--shadow-color-light) 0px 0px 10px 5px;
  }

  dialog::backdrop {
    /* transition-duration: 0.5s; */
    /* background-color: var(--background-blurry); */
    backdrop-filter: blur(2px);
  }
  
  dialog {
    /* border: 1px solid var(--card-color) !important; */
    max-width: 60%;
    background-color: var(--terthiary-color);
    width: fit-content;
    border: none;
    box-shadow: var(--shadow-color-heavy) 0px 0px 10px 0px;
    border-radius: var(--border-radius-heavy);
  }


  input[type="text"], input[type="password"]{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    padding: 0.5rem;
    border-bottom: 2px solid var(--outline-active);
  }

  input[type="text"]:focus, input[type="password"]:focus{
    outline: none;
  }

  .blurry {
    backdrop-filter: blur(5px);
    background-color: var(--background-blurry);
  }

  .outline-normal {
    outline: 2px solid var(--border-color);
  }

  .transparent {
    background-color: #00000000;
    width: min-content;
    height: min-content;
    padding: 0 !important;
    outline: none !important;
    border: none !important;
  }

  .transparent:hover {
    background-color: unset !important;
    box-shadow: unset !important;
  }

  .shadow {
    box-shadow: var(--shadow-color-medium) 0px 0px 10px;
  }

	.ok {
		backdrop-filter: blur(var(--background-blur-normal));
		background-color: rgba(0, 128, 0, 0.6);
		border: 2px solid var(--font-ok-color);
	}
	.alert {
		backdrop-filter: blur(var(--background-blur-normal));
		background-color: var(--font-warning-color);
		border: 2px solid orange;
	}
	.error {
		backdrop-filter: blur(var(--background-blur-normal));
		background-color: rgba(255, 0, 0, 0.6);
		border: 2px solid var(--font-error-color);
	}

  .okonhover:hover {
		/* backdrop-filter: blur(var(--background-blur-normal)); */
		background-color: rgba(0, 128, 0, 0.6) !important;
		outline: 2px solid var(--font-ok-color) !important;  
  }

  .warningonhover:hover {
    /* backdrop-filter: blur(var(--background-blur-normal)); */
		background-color: var(--font-warning-color);
    outline: 2px solid orange !important;
  }

  .warningbackground {
		background-color: var(--font-warning-color);
  }

  .errorbackground {
    background-color: var(--font-error-color);
  }

  .errorfont {
		color: var(--font-error-color);
  }

  .erroronhover:hover {
		/* backdrop-filter: blur(var(--background-blur-normal)); */
		background-color: rgba(185, 1, 1, 0.6) !important;
		outline: 2px solid var(--font-error-color) !important;
  }

  .buttonmedium {
    max-height: 25px !important;
    max-width: 25px !important;
    padding: 0 !important;
    border-radius: var(--border-radius-light);
  }

  .buttonsmall {
    max-height: 20px !important;
    max-width: 20px !important;
    padding: 0 !important;
    border-radius: var(--border-radius-light);
  }

  .padding1 {
    padding: 0.25rem !important;
  }

  .padding2 {
    padding: 0.5rem !important;
  }

  .padding3 {
    padding: 1rem !important;
  }
  
  .padding4 {
    padding: 1.5rem;
  }

  .margin1 {
    margin: 0.5rem;
  }

  .margin-top1 {
    margin-top: 0.5rem;
  }

  .margin-top2 {
    margin-top: 1rem;
  }

  .margin-top3 {
    margin-top: 1.5rem;
  }

  .notransition {
    transition-duration: 0s !important;
  }

  .flexcolumn {
    display: flex !important;
    flex-direction: column !important;
  }

  .flexrow {
		display: flex !important;
		flex-direction: row !important;
  }

  .wrap {
    flex-wrap: wrap;
  }

  .scroll {
    overflow: scroll !important;
  }

  .halign {
    display: flex;
		justify-content: center;
  }

  .valign {
    display: flex;
    align-items: center;
  }

  .hendalign {
    justify-content: right !important;
  }

  .vendalign {
    align-items: end !important; 
  }

  .hstartalign {
    justify-content: left !important;
  }

  .vstartalign {
    align-items: start !important; 
  }

  .hexpand {
    width: 100% !important;
  }

  .space-between {
    justify-content: space-between;
  }

  .fit-content {
    min-width: max-content !important;
    min-height: max-content !important;
  }

  .min-content {
    width: fit-content !important;
    height: fit-content !important;
  }

  .fit-height {
    min-height: max-content !important;
  }

  .circle {
    border-radius: 50%;
  }

  .button-active {
    background-color: var(--accent-color-secondary);
  }

  .radius-heavy {
    border-radius: var(--border-radius-heavy);
  }

  .radius-medium {
    border-radius: var(--border-radius-medium);
  }

  .border-soft {
    border: 1px solid var(--border-color);
  }

  .font-medium {
		font-size: 1.25rem;
	}

  .gap1 {
    gap: 0.25rem;
  }

  .gap2 {
    gap: 0.5rem;
  }

  .gap3 {
    gap: 1rem;
  }

  .gap4 {
    gap: 1.5rem;
  }

  .gap5 {
    gap: 5rem;
  }

  .gap6 {
    gap: 10rem;
  }

  .animate {
    opacity: 0;
  }

  .show1 * {
    display: none;
  }

  @media screen and (max-width: 720px) {
    .hide1 * {
      display: none;
    }
    .show1 * {
      display: unset;
    }
    .row-wrap1 {
      flex-direction: column-reverse !important;
    }
  }