:root{
  /* Used for ui elements background. Use appropriate proportions for each one */
  --primary-color: #0e0e0e;
  --secondary-color: #111111;
  --terthiary-color: #181818;
  --background-blurry: #24242469;

  --card-color: rgb(115, 52, 179);
  --graph-color: rgba(101, 22, 179, 0.432);

  --under-color: #0e0e0e;
  --top-color: #0e0e0e69;

  --background-blur-normal: 10px;
  --background-blur-heavy: 25px;

  /* Used for shadows, under ui elements */
  --shadow-color-heavy: #0a0a0aad;
  --shadow-color-medium: #00000080;
  --shadow-color-light: #00000042;

  /* Used to refine a page colors, to give a personal touch */
  --accent-color-primary: #252525;
  --accent-color-secondary: #2e2e2e;

  /* Outline types */
  --outline-inactive: #4e4e4e;
  --outline-active: #767676;
  --outline-color: #292929;

  /* Used to refine a page colors, to give a personal touch */
  --font-primary-color: #ececec;
  --font-secondary-color: #858585;
  --font-link-color: #d9e5e4;
  --font-error-color: #c54e4e;
  --font-warning-color: #926939;
  --font-ok-color: #006d18;
  --font-info-color: rgb(32, 83, 128);

  /* Different elements may need a border, use with caution, might not look good everywhere */
  --border-width-primary: 6px;
  --border-width-secondary: 2px;

  --border-radius-light: 6px;
  --border-radius-medium: 8px;
  --border-radius-medium-heavy: 12px;
  --border-radius-heavy: 16px;
}

[data-theme="light"] {
  /* Used for ui elements background. Use appropriate proportions for each one */
  --primary-color: #ffffff;
  --secondary-color: rgb(235, 235, 235);
  --terthiary-color: #8a8a8a;
  --background-blurry: #9e9e9e80;

  --card-color: var(--accent-color-secondary);
  --graph-color: rgba(255, 58, 58, 0.329);

  /* Used for shadows, under ui elements */
  --shadow-color-heavy: #0a0a0ace;
  --shadow-color-medium: #00000080;
  --shadow-color-light: #00000042;

  --shadow-heavy: var(--shadow-color-heavy) 0px 0px 10px;

  /* Used to refine a page colors, to give a personal touch */
  --accent-color-primary: #a8a8a8;
  --accent-color-secondary: #c7c7c7;

  /* Outline types */
  --outline-inactive: #767676;
  --outline-active: #767676;

  /* Font colors, different types of text need different colors */
  --font-primary-color: #111111;
  --font-secondary-color: #3d3d3d;
  --font-link-color: #3d3d3d;
  --font-error-color: #ff6f6f;
  --font-warning-color: #e6b175;
  --font-ok-color: #5c9c6a;
  --font-info-color: rgb(151, 151, 255);

  /* Different elements may need a border, use with caution, might not look good everywhere */
  --border-width-primary: 6px;
  --border-width-secondary: 2px;

  --border-radius-light: 6px;
  --border-radius-medium: 8px;
  --border-radius-heavy: 16px;
}

* {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-style: normal;
  color: var(--font-primary-color);
  text-decoration: none;
}

h1, h2, h3, h4, p {
  margin: 0px !important;
}

body {
  margin: auto;
}

.deco {
  font-family: 'Deco Diva JNL';
}

@keyframes show {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

body{
  padding: 0px;
  margin: 0px;
  background-color: var(--primary-color);
}

a, .link {
  color: var(--font-link-color);
  min-width: fit-content;
}

.icon {
  width: 1rem !important;
  height: 1rem !important;
  font-size: 1rem !important;
}

.secondary {
  color: var(--font-secondary-color);
}

button, .button {
  cursor: pointer;
  border: none;
  color: var(--font-primary-color);
  border-radius: var(--border-radius-heavy);
  padding: 0.75rem;
  /* outline: 1px solid var(--outline-active); */
  background-color: var(--background-blurry);
}

button:hover, .button:hover {
  box-shadow: var(--shadow-color-medium) 0px 0px 2px;
  background-color: var(--accent-color-secondary);
}

button:disabled {
  opacity: 0.4;
  cursor: default;
}

button:disabled:hover {
  box-shadow: var(--shadow-color-light) 0px 0px 10px;
  background-color: var(--accent-color-primary);
}

.round-button {
  border-radius: 50% !important;
}

.custom-checkbox {
  width: 1rem;
  height: 1rem;
  background-color: var(--accent-color-secondary);
  border-radius: var(--border-radius-light);
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.custom-checkbox input[type="checkbox"] {
    display: none; /* Hide the default checkbox */
}

.custom-checkbox input[type="checkbox"]:checked + .checkmark {
    background-color: var(--accent-color-secondary);
}

.custom-checkbox .checkmark {
    width: 60%;
    height: 60%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    border-radius: var(--border-radius-light);
    transition: background-color 0.3s ease;
}

.custom-checkbox input[type="checkbox"]:checked + .checkmark::after {
    content: "";
    position: absolute;
    left: 5px;
    top: 0px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

dialog::backdrop {
  backdrop-filter: blur(2px);
}

dialog {
  /* border: 1px solid var(--card-color) !important; */
  max-width: 60%;
  background-color: var(--terthiary-color);
  width: fit-content;
  border: none;
  box-shadow: var(--shadow-color-heavy) 0px 0px 10px 0px;
  border-radius: var(--border-radius-heavy);
}


input[type="text"], input[type="password"], input[type="number"], textarea {
  background-color: var(--accent-color-secondary);
  border: 1px solid var(--outline-color) !important;
  padding: 0.5rem;
  border-radius: var(--border-radius-light);
  box-shadow: var(--shadow-color-light) 0px 0px 5px -2px;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="number"]:focus, textarea {
  outline: none;
}

.blurry {
  backdrop-filter: blur(5px);
  background-color: var(--background-blurry);
}

.outline-normal {
  outline: 2px solid var(--outline-color);
}

.transparent {
  background-color: #00000000;
  width: min-content;
  height: min-content;
  padding: 0 !important;
  outline: none !important;
  border: none !important;
}

.transparent:hover {
  background-color: unset !important;
  box-shadow: unset !important;
}

.shadow {
  box-shadow: var(--shadow-color-medium) 0px 0px 10px;
}

.ok {
  backdrop-filter: blur(var(--background-blur-normal));
  background-color: rgba(0, 128, 0, 0.6);
  border: 2px solid var(--font-ok-color);
}
.alert {
  backdrop-filter: blur(var(--background-blur-normal));
  background-color: var(--font-warning-color);
  border: 2px solid orange;
}
.error {
  padding: 0.25rem;
  backdrop-filter: blur(var(--background-blur-normal));
  background-color: rgba(139, 0, 0, 0.6);
  border-radius: var(--border-radius-light);
  border: 1px solid var(--font-error-color);
}

.selectonhover:hover {
  /* backdrop-filter: blur(var(--background-blur-normal)); */
  background-color: var(--accent-color-secondary);
  outline: 1px solid var(--outline-color) !important;
  cursor: pointer;
}

.okonhover:hover {
  /* backdrop-filter: blur(var(--background-blur-normal)); */
  background-color: rgba(0, 128, 0, 0.6) !important;
  outline: 2px solid var(--font-ok-color) !important;  
}

.warningonhover:hover {
  /* backdrop-filter: blur(var(--background-blur-normal)); */
  background-color: var(--font-warning-color);
  outline: 2px solid orange !important;
}

.warningbackground {
  background-color: var(--font-warning-color);
}

.errorbackground {
  background-color: var(--font-error-color);
}

.errorfont {
  color: var(--font-error-color);
}

.erroronhover:hover {
  /* backdrop-filter: blur(var(--background-blur-normal)); */
  background-color: rgba(185, 1, 1, 0.6) !important;
  outline: 2px solid var(--font-error-color) !important;
}

.padding1 {
  padding: 0.25rem !important;
}

.padding2 {
  padding: 0.5rem !important;
}

.padding3, .padding3-responsive {
  padding: 1rem !important;
}


.padding4 {
  padding: 1.5rem;
}

.margin1 {
  margin: 0.5rem;
}

.margin2 {
  margin: 1rem;
}

.margin3 {
  margin: 1.5rem;
}

.margin-top1 {
  margin-top: 0.5rem;
}

.margin-top2 {
  margin-top: 1rem;
}

.margin-top3 {
  margin-top: 1.5rem;
}

.margin-left1 {
  margin-left: 0.5rem;
}

.margin-left2 {
  margin-left: 1rem;
}

.margin-left3 {
  margin-left: 1.5rem;
}

.margin-right1 {
  margin-right: 0.5rem;
}

.margin-right2 {
  margin-right: 1rem;
}

.margin-right3 {
  margin-right: 1.5rem;
}

.notransition {
  transition-duration: 0s !important;
}

.flexcolumn {
  display: flex !important;
  flex-direction: column !important;
}

.flexrow, .flexrow-responsive {
  display: flex !important;
  flex-direction: row !important;
}

.flexrow-responsive {
  flex-wrap: wrap !important;
}

.space-evenly {
  justify-content: space-evenly !important;
}

.wrap {
  flex-wrap: wrap;
}

.scroll {
  overflow: scroll !important;
}

.halign {
  display: flex;
  justify-content: center;
}

.valign {
  display: flex;
  align-items: center;
}

.hendalign {
  justify-content: right !important;
}

.vendalign {
  align-items: end !important; 
}

.hstartalign {
  justify-content: left !important;
}

.vstartalign {
  align-items: start !important; 
}

.hexpand {
  width: 100% !important;
}

.vexpand {
  height: 100% !important;
}

.space-between {
  justify-content: space-between;
}

.fit-content {
  min-width: max-content !important;
  min-height: max-content !important;
}

.min-content {
  width: fit-content !important;
  height: fit-content !important;
}

.fit-height {
  min-height: max-content !important;
}

.circle {
  border-radius: 50%;
}

.button-active {
  background-color: var(--accent-color-secondary);
}

.radius-heavy {
  border-radius: var(--border-radius-heavy);
}

.radius-medium {
  border-radius: var(--border-radius-medium);
}

.radius-light {
  border-radius: var(--border-radius-light);
}

.border-soft {
  border: 1px solid var(--outline-color);
}

.gap1 {
  gap: 0.25rem;
}

.gap2 {
  gap: 0.5rem;
}

.gap3 {
  gap: 1rem;
}

.gap4 {
  gap: 1.5rem;
}

.gap5 {
  gap: 5rem;
}

.gap6 {
  gap: 10rem;
}

.animate {
  opacity: 0;
}

.show1 * {
  display: none;
}

nav {
  background-color: var(--secondary-color);
}

.border-right {
  		border-right: 1px solid var(--outline-color);
}

.border-top {
  		border-top: 1px solid var(--outline-color);
}

.border-bottom {
  		border-bottom: 1px solid var(--outline-color);
}

.border-left {
  		border-left: 1px solid var(--outline-color);
}

.border {
  		border: 1px solid var(--outline-color);
}

.separator {
    height: 24px;
    width: 2px;
    background-color: var(--font-primary-color);
}

.hide-desktop {
  display: none;
}

.show-desktop {
  display: unset;
}

.pointer {
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .hide-tablet {
    display: none;
  }
  .show-tablet {
    display: unset;
  }
  .padding3-responsive {
    padding: 0.75rem !important;
  }
}

@media screen and (max-width: 720px) {
  .hide-mobile {
    display: none;
  }
  .show-mobile {
    display: unset;
  }
  .padding3-responsive {
    padding: 0.5rem !important;
  }
  .hide1 * {
    display: none;
  }
  .show1 * {
    display: unset;
  }
  .row-wrap1 {
    flex-direction: column-reverse !important;
  }
}