@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap");

:root{
  /* Used for ui elements background. Use appropriate proportions for each one */
  --primary-color: #191919;
  --secondary-color: #242424;
  --tertiary-color: #4f4f4f;
  --semi-opaque-color: #191919b3;

  /* Used for shadows, under ui elements */
   --shadow-color-heavy: #0a0a0aad;
   --shadow-color-medium: #00000080;
   --shadow-color-light: #00000042;

  /* Used to refine a page colors, to give a personal touch */
  --accent-color-primary: #494949;
  --accent-color-secondary: #3b3b3b;

    /* Used to refine a page colors, to give a personal touch */
  --font-primary-color: #e5e2df;
  --font-secondary-color: #9d9d9d;
  --font-link-color: #d9e5e4;

  /* Different elements may need a border, use with caution, might not look good everywhere */
  --border-width-primary: 6px;
  --border-width-secondary: 2px;

  --border-radius-light: 2px;
  --border-radius-medium: 8px;
  --border-radius-heavy: 16px;
}

[data-theme="light"] {

  /* Used for ui elements background. Use appropriate proportions for each one */
  --primary-color: #e5e2df;
  --secondary-color: #fefefe;
  --tertiary-color: #565656;
  --semi-opaque-color: #ffffffb3;

  /* Used for shadows, under ui elements */
  --shadow-color-heavy: #0a0a0ace;
  --shadow-color-medium: #00000080;
  --shadow-color-light: #00000042;

  /* Used to refine a page colors, to give a personal touch */
  --accent-color-primary: #d9e5e4;
  --accent-color-secondary: #c5e9e6;

  /* Font colors, different types of text need different colors */
  --font-primary-color: #111111;
  --font-secondary-color: #636363;
  --font-link-color: #3d3d3d;

  /* Different elements may need a border, use with caution, might not look good everywhere */
  --border-width-primary: 6px;
  --border-width-secondary: 2px;

  --border-radius-light: 2px;
  --border-radius-medium: 8px;
  --border-radius-heavy: 16px;
}

* {
  color: var(--font-primary-color);
  font-family: "Josefin Sans", sans-serif;
  transition-duration: 0.25s;
}

body {
  overflow-x: hidden;
  margin: 0px;
  background-color: var(--primary-color);
}

a {
  text-decoration: none;
  color: var(--font-link-color);
}

button {
  border-radius: var(--border-radius-heavy);
  border: none;
  background-color: var(--accent-color-primary);
  box-shadow: var(--shadow-color-heavy) 0px 0px 10px;
  cursor: pointer;
}

/* Page root, sets the page layout */
.root{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

/* Every container, with a shadow and border radius */
.container{
  padding: 7.5px;
  border-radius: var(--border-radius-heavy);
  width: fit-content;
  background-color: var(--secondary-color);
  box-shadow: var(--shadow-color-light) 0px 0px 3px;
  transition-duration: 0.15s;
  margin: 10px;
}

.container:hover{
  box-shadow: 0px 0px 3px var(--shadow-color-heavy);
}

/* Top title, 'Weathy' */
.title{
  width: 95vw;
  text-align: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

#info{
  width: max-content;
}
#conditionsIcon{
  width: 200px;
}


/* Forecast container, bottom left */
.day{
  display: flex;
  justify-content: left;
  align-items: left;
  gap: 15px;
}
.name{
  width: 100px;
}

/* Maps inside radar, temperature and meteosat pages */
.scrollableMapRow {
  width: 100%;
  height: fit-content;
  white-space: nowrap;
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}

.mapWidgetContainer {
  font-size: 14px;
  font-weight: 900;
  text-align: center;
  background-color: var(--secondary-color);
  line-height: 0px;
  border-radius: var(--border-radius-medium);
  padding: 2px !important;
  width: min-content;
  height: auto;
  margin: 0 0.25%;
  display: inline-block;
}

.mapWidget {
  border-radius: var(--border-radius-light);
  margin: 5px;
  width:200px;
  height:150px;
}

/* Option dialog */
#optionsRoot{
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px; 
  width: 50vw;
  min-width: 400px;
  max-width: 600px;
}

.optionsContent{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 10px; 
}

@media only screen and (max-width: 1390px) {
  .root{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
  }
}

@media only screen and (max-width: 480px) {
  #conditionsIcon{
    position: relative;
    height: 32vw;
    width: 32vw;
    min-width: 150px;
    min-height: 150px;
    max-width: 200px;
    max-height: 200px;
  }
  #weather {
    display: flex;
    width: 90vw;
  }
}

